node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.*.local
.vite
.DS_Store
*.log
*.tsbuildinfo
.idea
.vscode/*
!.vscode/extensions.json

# build / test artifacts
storybook-static
test-results
playwright-report
